.white{
  color: white;
}

.post-table {
  width: 100%;
}

.post-th {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.pink{
  color: #ff1493;
}

.post-td {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.btn{
  margin: 1px;
}