<header class='footer-all'>
    <img src="/images/school_kokubankeshi.png" class="footer-pict" alt="Responsive image"%>
    <div class="text-center"><br><br>
      <span class="Copyright-color">Copyright © 2021 kurigaki-Reminder37191 Inc. All Rights Reserved.</span>
    </div><br><br>
</header>