<header class='footer-all'>
    <div class="text-center">
      <span class="Copyright-color">Copyright © 2021 kurigaki-Reminder37191 Inc. All Rights Reserved.<span>
    </div>
    <%= image_tag "/images/school_kokubankeshi.png", class:"footer-pict" %>
</header>