.wrapper {
  display: flex;
}

.side-bar {
  background-image: url("/images/chalkboard-green-pattern-02.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  width: 300px;
}

.posts {
  background-image: url("/images/chalkboard-green-pattern-01.jpg");

  height: 100%;
  width: 100%;
  padding: 20px 20px 0;
  overflow: scroll;
}

.mypage-head{
  text-align: center;
  background-color: gray;
  color: deepskyblue;
}

.white{
  color: white;
}

.post-table {
  width: 100%;
}

.post-th {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.post-td {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.btn{
  margin: 1px;
}