.wrapper {
  display: flex;
}

.side-bar {
  background-image: url("/images/chalkboard-green-pattern-02.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode:lighten;
  width: 300px;
}

.posts {
  background-image: url("/images/chalkboard-green-pattern-01.jpg");

  height: 100%;
  width: 100%;
  padding: 20px 20px 0;
  overflow: scroll;
}

.show-table {
  width: 100%;
}

.show-th {
  width: 100%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  display:block;
}

.pink{
  color: #ff1493;
}

.show-td {
  width: 100%;
  border: 1px solid #dedede;
  font-size: 14px;
  display:block;
}

.post-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.btn{
  margin: 1px;
}